@charset "UTF-8";

.load {
	overflow: hidden;
}

.pop-up {
	width: 600px;
	height: 600px;
	margin: 0 auto;
	display : flex;
	justify-content : center;
	align-items : center;
	background-color: var(--color-white);
	border: 1px solid;
	border-radius: 1.5em;
	animation-name: move;
	animation-duration: 1s;
	cursor: pointer;
}

.pop-up:hover {
	background-color: var(--color-blue300);
	color: var(--color-white);
}
.pop-up .text {
	margin: 0 auto;
}

/* 애니메이션 */
@keyframes move {
	from { margin-top: 100%; }
	to { margin-top: 0%; }
}