@charset "UTF-8";
@import url("./theme.css");
@import url("./init/base.css");
@import url("./header.css");
@import url("./search_page.css");
@import url("./load.css");
@import url("./history.css");

.container {
	width: 1400px;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
}

.hidden {
	visibility: hidden;
}

