<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<header class="header">
		<div class="container">
			<h1 class="logo">
				<a href="/Mission/wifi/main">공공 와이파이 🚀</a>
			</h1>
			<hr>
			<nav class="main-nav">
				<ul class="main-nav-list">
					<li>
						<a href="/Mission/wifi/main" id="home-btn" class="menu-btn" data-btn-info="search">
							<span class="small"> 홈 </span> 
							Home
						</a>
					</li>
					<li>
						<a href="/Mission/wifi/history" id="history-btn" class="menu-btn" data-btn-info="search-history"> 
							<span class="small"> 위치 히스토리 </span> 
						 	History
						</a>
					</li>
					<li>
						<a href="/Mission/wifi/get_wifi_info" id="get-wifi-info-btn" class="menu-btn" data-btn-info="lookUp">
							<span class="small"> 와이파이 정보 가져오기 </span> 
							Get WIFI Info
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
</body>
</html>
